@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

* {
  font-family: 'Nunito', sans-serif;
}

@layer base {
  @layer base {
    :root {
      --primary-blue: 217 97% 61%;
      --primary-green: 102 59% 44%;
      --primary-red: 0 81% 55%;

      /* Fundo da aplicação (<body>) */
      --background: 0 0% 3.9%;
      --foreground: 0 0% 100%;

      /* Fundo do <Card> */
      --card: 0 0 9%;
      --card-foreground: 0 0% 100%;

      /* Fundo do <DropdownMenu>, <HoverCard>, <Popover> */
      --popover: 0 0 9%;
      --popover-foreground: 0 0% 100%;

      /* Botões */
      --primary: 102 59% 44%;
      --primary-foreground: 0 0% 100%;
      --secondary: 240 4% 16%;
      --secondary-foreground: 0 0% 100%;

      /* Fundo do <Switch>, <Skeleton> e <TabList> */
      --muted: 240 4% 16%;
      --muted-foreground: 0 0% 63.9%;

      /* Efeito de hover no <DropdownMenu>, <HoverCard> e <Popover> */
      --accent: 240 4% 16%;
      --accent-foreground: 0 0% 100%;

      /* Botões perigosos (deleção, por exemplo) */
      --destructive: 0 81% 55%;
      --destructive-foreground: 0 0% 100%;

      /* Borda dos elementos */
      --border: 240 4% 16%;

      /* Borda dos inputs */
      --input: 240 4% 16%;

      /* Cor do ring nos inputs */
      --ring: 0 0% 83.1%;

      /* Border radius para cards, inputs e botões */
      --radius: 0.5rem;

      /* Gráficos */
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}